<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<!--Nơi định nghĩa đường dẫn và servlet nào sẽ xử lý đường dẫn nào-->
<web-app>
  <display-name>Archetype Created Web Application</display-name>

<!--  Đang định nghĩa servlet và chính thức khởi tạo servlet cho hệ thống-->
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>servlet.HelloServlet</servlet-class>
  </servlet>

<!--  Định nghĩa đường dẫn sẽ được xử lý bởi servlet nào-->
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

</web-app>

